.home{
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10% 5%;
    background: url(https://res.allmacwallpaper.com/pic/Thumbnails/21948_728.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.home p{
    letter-spacing: 1.5px;
    line-height: 1.5;
    color: lightgray;
}

.home button {
    height: 2rem;
    width: 8rem;
    font-size: 15px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgb(22,72,187);
    color: rgb(22,72,187);
}
