.contactMain{
    height: 100%;
    width: 100%;
    background: url(../../Images/Contact\ BgImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.innerContactContainer{
    background-color: rgba(0, 0, 0, 0.557);
    height: 100%;
    width: 100%;
}

#contactHeading{
    text-align: center;
    margin-top: 50px;
    color: red;
}